
@{
    ViewBag.Title = "Edit";
}


@model FedoRomance.Web.Models.EditModel
@using (Html.BeginForm("Edit")) {
    <div>
        <p>
            Name:
            @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Name)
        </p>

        <p>
            Age:
            @Html.DropDownListFor(model => model.Age, (IEnumerable<SelectListItem>)ViewData["Age"])
            Current: @Html.DisplayTextFor(model => model.Age)
        </p>

        <p>
            Gender:
            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewData["Gender"])
            Current: @Html.DisplayTextFor(model => model.Gender)
        </p>

        <p>
            About:
            <br/>
            @Html.TextAreaFor(model => model.About, new {@class="aboutTextBox", @maxlength = 150 })
        </p>

        <p>
            @Html.CheckBoxFor(model => model.BoolValue) Jag vill inte vara sökbar.
        </p>
        
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" />
        
        <p>
            <input type="submit" value="Spara ändringar" class="editButton" />
        </p>
        
        
        <p>@Html.ActionLink("Someone is hacking me, reset that password!", "EditPassword", "Home",  new { @class = "editPasswordLink" })</p>
        
    </div>

    @Html.Raw(TempData["alertWrongPicFormat"])

}