
@{
    ViewBag.Title = "EditPassword";
}

@model FedoRomance.Web.Models.EditModel
@using (Html.BeginForm("Edit")) {

    <p>
        Current password:
        @Html.PasswordFor(model => model.CurrentPassword, new {@maxlength = 20})
        @Html.ValidationMessageFor(model => model.CurrentPassword)
    </p>

    <p>
        New password:
        @Html.PasswordFor(model => model.NewPassword, new {@maxlength = 20})
        @Html.ValidationMessageFor(model => model.NewPassword)
    </p>
    <p>
        Confirm new password:
        @Html.PasswordFor(model => model.NewPasswordMatch, new {@maxlength = 20})
        @Html.ValidationMessageFor(model => model.NewPasswordMatch)
    </p>
    <p>
        <input type="submit" value="Spara lösenord" class="editButton" />
    </p>
}