
@{
    ViewBag.Title = "Start";
}


@using System.Collections
@model FedoRomance.Web.Models.IndexModel
@using (Html.BeginForm("Index", "Home"))
{
    <div id="welcomeDiv">
        <h1 id="welcomeTitle">FedoRomance</h1>
        <p id="welcomeDescription">Welcome to FedoRomance, the one and only place for all you gentlemen and m'ladies out there!</p>
    </div>

    <div id="exampleUsers">
            <div class="exampleUser">
                <a href="@Url.Action("Profile", "Home", new {username = Model.ExampleUser1})">
                    <img src="@Url.Content("~/Images/" + Model.ExampleUserPic1)" class="examplePic" />
                </a>
            </div>
            <div class="exampleUser">
                <a href="@Url.Action("Profile", "Home", new {username = Model.ExampleUser2})">
                    <img src="@Url.Content("~/Images/" + Model.ExampleUserPic2)" class="examplePic" />
                </a>
            </div>
            <div class="exampleUser">
                <a href="@Url.Action("Profile", "Home", new {username = Model.ExampleUser3})">
                    <img src="@Url.Content("~/Images/" + Model.ExampleUserPic3)" class="examplePic" />
                </a>
            </div>
    </div>
}