
@{
    ViewBag.Title = "Log in";
}

@model FedoRomance.Web.Models.LogInModel

@using (Html.BeginForm("LogIn", "Home"))
{
    <div>
        <p><h3>Log In</h3></p>

    </div>
    <div class="DivLogIN">
        @Html.DisplayNameFor(x => x.Username)
        &nbsp;
        @Html.TextBoxFor(x => x.Username, "Username")
        @Html.ValidationMessageFor(x => x.Username)

        <br/>

        @Html.DisplayNameFor(x => x.Password)
        &nbsp;
        @Html.PasswordFor(x => x.Password, "Password")
        @Html.ValidationMessageFor(x => x.Password)

        <br/>
        <input type="submit" value="Logga in" id="SubmitBtn"/>
        
        
    </div>
    
    
    
    <div>
        <p>@Html.ActionLink("Inget konto än? Registrera här!", "Register", "Home")</p>
        

    </div>
}