@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FedoRomance.Web.Models.ProfileModel

@using (Html.BeginForm("Profile")) {   

    <div id="profileInfoDiv">
        <div class="profilePicDiv">
            <img src="@Url.Content("~/Images/" + Model.Picture)" class="profilePic" />
        </div>
        <div id="profileInfo">
            <p>
                <label id="profileNameHeader">@Html.DisplayTextFor(model => model.Name)</label>
                <label id="profileUsernameHeader">(@Html.DisplayTextFor(model => model.Username))</label>
            </p>
            <h3>Info</h3>
            <p>
                Age: @Html.DisplayTextFor(model => model.Age)
            </p>
            <p>
                Gender: @Html.DisplayTextFor(model => model.Gender)
            </p>
            <p>
                About: @Html.DisplayTextFor(model => model.About)
            </p>
        </div>

        @if (ViewBag.CurrentUser != Model.Username)
        {


            if (ViewBag.Friendship != null)
             {

                 if (!ViewBag.Friendship.Accepted)
                 {

                     
                     if (ViewBag.Friendship.UID == Model.UID)
                     {
                         @Html.ActionLink("Accept friend request", "AcceptFriend", "Home", new
                         {
                             uid = ViewBag.Friendship.UID,
                             fid = ViewBag.Friendship.FID

                         }, new
                         {
                             @class = "Action"
                         })

                     }
                     else
                     {
                         <div class="Action"> Request sent </div>

                     }
                 }
             }
             else
             {
                 @Html.ActionLink("Send friend request", "AddFriend", "Home", new
                 {
                     friendName = Model.Username
                 }, new
                 {
                     @class = "Action"
                 })
             }
        }


    </div>


    <div id="profileWallDiv">
        <div>
            <h3>Post on @Html.DisplayTextFor(model => model.Username)'s wall: </h3>
            <textarea id="postTextBox" maxlength="150"></textarea>
            <input type="button" id="postButton" value="Skicka!" onclick=" SendPost() " />
        </div>
        <div>
            <h3>@Html.DisplayTextFor(model => model.Username)'s wall:</h3>
            <div id="postsDiv"></div>
        </div>
    </div>
}



<script type="text/javascript">
    function SendPost() {
        if (!document.getElementById("postTextBox").value == "") {
            var post = {
                Message: document.getElementById("postTextBox").value,
                Poster: "@User.Identity.Name",
                Receiver: "@Model.Username"
            };
            $.ajax({
                type: "POST",
                url: "/api/Posts/Post",
                cache: false,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(post),
                success: function () {
                    window.location.reload();
                }
            });
        }
        else {
            alert("Post cannot be empty!");
        }
    };

    window.onload = getPosts();
    function getPosts() {
        $.ajax({
            type: "GET",
            url: "/api/Posts/GetPosts?username=@Model.Username",
            success: function (data) {
                for (var i in data) {
                    var post = data[i];
                    var html = "<div class=\"singlePostDiv\"><p><b>From: </b>" + post.Poster + "</p>";
                    html += "<p><b>Message: </b>" + post.Message + "</p></div>";

                    $("#postsDiv").prepend(html);
                }
            }
        });
    };


</script>