
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />
@model FedoRomance.Web.Models.ProfileModel

@using (Html.BeginForm("Profile"))
{
    <div id="profileInfoDiv">
        <div class="profilePicDiv">
            <img src="@Url.Content("~/Images/" + Model.Picture)" class="profilePic" />
        </div>
        
        <div id="profileInfo">
            <p>
                <h2>@Html.DisplayTextFor(model => model.Name)</h2>
                @Html.DisplayTextFor(model => model.Username)
            </p>
            
            <h3>Info</h3>
            <p>
                Age: @Html.DisplayTextFor(model => model.Age)
            </p>
            <p>
                Gender: @Html.DisplayTextFor(model => model.Gender)
            </p>
            <p>
                About: @Html.DisplayTextFor(model => model.About)
            </p>
        </div>
        
        
        <p>@Html.ActionLink("Send a message to " + @Model.Username, "Post", "Home", new { username = @Model.Username }, new { @class = "postMessageLink" })</p>

        
        
        <form id="post_message">
            <textarea id="userWallTextBox"></textarea>
            <input type="submit" id="postMessage" value="Skicka" />
        </form>
        

        <script>
        $("#post_message").submit(function (event) {
            event.preventDefault();
            var source =
            {
                'Message': $("#userWallTextBox").val(),
                'PostedBy': '@User.Identity.Name',
                'UserWall': '@Model.Username'
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/api/HomeApi/Post",
                data: source,
                success: function () {
                    $("#userWallTextBox").value = "";
                    document.location.reload();
                },
                error: function (error) {
                    alert("FEL MADAFAKA!")
                }
            });

        });
        </script>
        
        
        

    </div>
}