@using Register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using System.Runtime.Versioning
@model FedoRomance.Web.Models.RegisterModel
@using (Html.BeginForm("Register")) {
    <div>
        
        <div>
            
            @Html.ActionLink("Svenska", "ChangeCulture", "Home", new { lang = "sv" }, null)
            @Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en" }, null)

        </div>
        <p>
            @Register.Name
                       
            @Html.TextBoxFor(model => model.Name, new { @maxlength = 50 })
            @Html.ValidationMessageFor(model => model.Name)
        </p>

        <p>
            @Register.Age
            
            @Html.DropDownListFor(model => model.Age, (IEnumerable<SelectListItem>)ViewData["Age"])
        </p>
        
        <p>
            @Register.Gender 
            
            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewData["Gender"])
        </p>
        
        <p> 
            @Register.About

            @Html.TextAreaFor(model => model.About, new {@class = "aboutTextBox", @maxlength = 150 })
        </p>
        
        <p> @Register.Username
            
            @Html.TextBoxFor(model => model.Username, new { @maxlength = 15 })
            @Html.ValidationMessageFor(model => model.Username)
        </p>
        
        <p> @Register.Password
            
            @Html.PasswordFor(model => model.Password, new { @maxlength = 20 })
            @Html.ValidationMessageFor(model => model.Password)
        </p>
        <p> @Register.PasswordMatch
            
            @Html.PasswordFor(model => model.PasswordMatch, new { @maxlength = 20 })
            @Html.ValidationMessageFor(model => model.PasswordMatch)
        </p>

        <p>
            @Html.CheckBoxFor(model => model.BoolValue) @Register.Searchable
        </p>

        <p>
            <input type="submit" value="Registrera!" id="registerButton"/>

            @Html.Raw(TempData["alertFailRegister"])

        </p>

    </div>

}