
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />

@model FedoRomance.Web.Models.RegisterModel
@{
    <div>
        <p>
            Name:
            @Html.TextBoxFor(model => model.Name)
        </p>

        <p>
            Age:
            @Html.DropDownListFor(model => model.Age, (IEnumerable<SelectListItem>)ViewData["Age"])
        </p>
        
        <p>
            Gender:
            @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewData["Gender"])
        </p>
        
        <p>
            About:
            @Html.TextBoxFor(model => model.About)
        </p>
        
        <p>
            Username: 
            @Html.TextBoxFor(model => model.Username)
        </p>
        
        <p>
            Password:
            @Html.TextBoxFor(model => model.Password)
        </p>
        
        <p>
            @Html.CheckBoxFor(model => model.BoolValue) Jag vill inte vara sökbar.
        </p>

        <p>
            <input type="checkbox" class="acceptCheckBox" /> Jag är säker på att allt stämmer, let's do this!
        </p>

        <p>
            <input type="submit" value="Hodor" />
        </p>
    </div>

}