<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FedoRomance</title>
    <link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("FedoRomance", "Index", "Home", null, new { @class = "Action" })
                
                
                @if (Session["UserAuth"] != null)
                {
                    @Html.ActionLink("Profile", "Profile", "Home", new { username = Session["UserAuth"].ToString() }, new { @class = "Action" })
                }
                else if (Session["UserAuth"] == null)
                {
                    @Html.ActionLink("Profile", "Profile", "Home", null, new { @class = "Action" })
                }
                

                @Html.ActionLink("Search", "Search", "Home", null, new { @class = "Action"})
                @Html.ActionLink("Edit", "Edit", "Home", null, new { @class = "Action"})
                @Html.ActionLink("Friends", "Friends", "Home", null, new { @class = "Action"})
                
                @if (Session["UserAuth"] != null)
                {
                    @Html.ActionLink("LogOut", "LogOut","Home", null, new { @class = "Action"})
                }
                else if (Session["UserAuth"] == null)
                {
                    @Html.ActionLink("LogIn", "LogIn","Home", null, new { @class = "Action"})
                }
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>