@using System.Activities.Expressions
@using System.Web.Mvc.Html
@using English
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FedoRomance</title>
    <link href="/Style/HomeStyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("FedoRomance", "Index", "Home", null, new { @class = "Action" })
                
                
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(@English.EngProfile, "Profile", "Home", new { username = User.Identity.Name }, new { @class = "Action" })
                }
                else if (User.Identity.IsAuthenticated == false)
                {
                    @Html.ActionLink(@English.EngProfile, "Profile", "Home", null, new { @class = "Action" })
                }
                

                @Html.ActionLink(@English.EngSearch, "Search", "Home", null, new { @class = "Action"})
                @Html.ActionLink(@English.EngEdit, "Edit", "Home", null, new { @class = "Action"})
                @Html.ActionLink(@English.EngFriends, "Friends", "Home", null, new { @class = "Action"})
                
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink(@English.EngLogOut, "LogOut","Home", null, new { @class = "Action", @onclick ="return confirmation()", id = "CONFIRM"})
                }
                else if (User.Identity.IsAuthenticated == false)
                {
                    @Html.ActionLink(@English.EngLogIn, "LogIn","Home", null, new { @class = "Action"})
                }
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>